.btn{
    margin-right: 5px;
    margin-top: 0;
}

.lblCategoria{
    color: azure;
    background-color: rgb(117, 117, 117);
    border-radius: 8px;
    font-size: 10px;
    padding: 2px;
    margin: 0px;
    margin-bottom: 10   px;
}

.titulo{
    text-transform: uppercase;
}

.organizador{
    text-transform: capitalize;
}

.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
  }

  .descripcion{
    overflow-wrap: break-word;
    inline-size: 320px;
  }
