.btn{
    margin-right: 5px;
    margin-top: 0;
}

.lblCategoria{
    color: azure;
    background-color: rgb(117, 117, 117);
    border-radius: 8px;
    font-size: 10px;
    padding: 2px;
    margin: 0px;
    margin-bottom: 10   px;
}

.titulo{
    text-transform: uppercase;
}
