<!-- FOOTER -->
<footer class="w-100 py-4 flex-shrink-0 ">
    <div class="container py-4 pie">
        <div class="row gy-4 gx-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="h1 text-white">EvenTickets</h5>
                <p class="small text-muted">Somos una empresa dedicada a la comercializacion y reventa de boletos o entradas para eventos masivos publicos o privados.</p>
                <p class="small text-muted mb-0">&copy; Copyrights. Todos los derechos reservados. <a class="text-primary" href="#">www.eventickets.com</a></p>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3">Enlaces rapidos</h5>
                <ul class="list-unstyled text-muted">
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/crearCuenta">Crear Cuenta</a></li>
                    <li><a routerLink="/entrar">Iniciar Sesion</a></li>
                    <li><a href="#">Ver ofertas</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3">Siguenos en:</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-3">Ultimas noticias!</h5>
                <p class="small text-muted">Dejanos tus correo electronico para que puedas enterarte de las nuevas promociones que tendremos todas las semanas y los mejores eventos para que no te los pierdas</p>
                <form action="#">
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" placeholder="Ingresa tu correo electronico" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>